<% provide(:title, 'ニューポスト') %>
<div class="container_Main">
  <div class="container">
    <%= form_with model: @micropost do |f| %>
      <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content, autofocus: true, maxlength:"140", class: "form-text-area" %>
      </div>
      <div class="action">
        <%= f.submit nil %>
      </div>
    <% end %>
  </div>
</div>